[submodule "resources/neuroglancer"]
	path = resources/neuroglancer
	url = git@github.com:google/neuroglancer.git
	datalad-url = git@github.com:google/neuroglancer.git
[submodule "resources/higlass"]
	path = resources/higlass
	url = git@github.com:higlass/higlass.git
	datalad-url = git@github.com:higlass/higlass.git
[submodule "resources/nivo"]
	path = resources/nivo
	url = https://github.com/plouc/nivo
[submodule "resources/visx"]
	path = resources/visx
	url = https://github.com/airbnb/visx
	datalad-url = https://github.com/airbnb/visx
[submodule "resources/deck.gl"]
	path = resources/deck.gl
	url = https://github.com/visgl/deck.gl
	datalad-url = https://github.com/visgl/deck.gl
[submodule "resources/observable-plot"]
	path = resources/observable-plot
	url = https://github.com/observablehq/plot
	datalad-url = https://github.com/observablehq/plot
[submodule "resources/uplot"]
	path = resources/uplot
	url = https://github.com/leeoniya/uPlot
	datalad-url = https://github.com/leeoniya/uPlot
[submodule "resources/perspective"]
	path = resources/perspective
	url = https://github.com/finos/perspective
	datalad-url = https://github.com/finos/perspective
[submodule "resources/jupyterlab"]
	path = resources/jupyterlab
	url = https://github.com/jupyterlab/jupyterlab
	datalad-url = https://github.com/jupyterlab/jupyterlab
